<h1>Halaman utama</h1>
<h2>Halo <%= nama %></h2>

<h4>Daftar Mahasiswa</h4>

<% if (mahasiswa.length < 1) { %>
<p>Data Mahasiswa Masih Kosong</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>nama : <%= mhs.nama %></li>
  <li>email : <%= mhs.email %></li>
</ul>
<% })}%>
